@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Place my pictures (Alpha Version)</h1>
    <p>Code Disponible <a href="https://github.com/JohanDepeyre/ApplicationPhoto.Web.UI">Ici</a>.</p>


    <div class="p-5 text-center bg-image rounded-3 mb-3 jumboImage jumboImageS1">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h4 class="mb-3">Visualisez vos souvenirs sur une carte.</h4>
                    <h6 class="mb-3">Vos photos s'affichent sur la carte du monde afin de ne jamais oublier ou l'action s'est déroulée.</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="p-5 text-center bg-image rounded-3 mb-3 jumboImage jumboImageS2">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h4 class="mb-3">Admirer vos photos en un clic.</h4>
                    <h6 class="mb-3">Il vous suffit de cliquer sur le marqueur de votre photo afin d'obtenir un visuel !</h6>
                
                </div>
            </div>
        </div>
    </div>
    <div class="p-5 text-center bg-image rounded-3 mb-3 jumboImage jumboImageS3">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.2);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h4 class="mb-3">Ajoutez facilement vos photos.</h4>
                    <h6 class="mb-3">Ajoutez vos photos facilement, les données de localisation de vos photos sont automatiquement lues par notre système. </h6>
                   
                </div>
            </div>
        </div>
    </div>
</div>
