html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    background-color: #ecf0f1;
    height: 100%;
    margin: 0;
}


.full-height {
    height: 100%;
}

.containerMain {
    font-family: 'Montserrat', sans-serif;
    background-color: #ecf0f1;
    background-size: cover;
    background-position: center;
}


/*Formulaire ajout Image*/
.booking-form {
    background-color: #fff;
    padding: 50px 20px;
    -webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

    .booking-form .form-group {
        position: relative;
        margin-bottom: 30px;
    }

    .booking-form .form-control {
        background-color: #ebecee;
        border-radius: 4px;
        border: none;
        height: 40px;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #3e485c;
        font-size: 14px;
    }

        .booking-form .form-control::-webkit-input-placeholder {
            color: rgba(62, 72, 92, 0.3);
        }

        .booking-form .form-control:-ms-input-placeholder {
            color: rgba(62, 72, 92, 0.3);
        }

        .booking-form .form-control::placeholder {
            color: rgba(62, 72, 92, 0.3);
        }

    .booking-form input[type="date"].form-control:invalid {
        color: rgba(62, 72, 92, 0.3);
    }

    .booking-form select.form-control {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

        .booking-form select.form-control + .select-arrow {
            position: absolute;
            right: 0px;
            bottom: 4px;
            width: 32px;
            line-height: 32px;
            height: 32px;
            text-align: center;
            pointer-events: none;
            color: rgba(62, 72, 92, 0.3);
            font-size: 14px;
        }

            .booking-form select.form-control + .select-arrow:after {
                content: '\279C';
                display: block;
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
            }

    .booking-form .form-label {
        display: inline-block;
        color: #3e485c;
        font-weight: 700;
        margin-bottom: 6px;
        margin-left: 7px;
    }

    .booking-form .submit-btn {
        display: inline-block;
        color: #fff;
        background-color: #1e62d8;
        font-weight: 700;
        padding: 14px 30px;
        border-radius: 4px;
        border: none;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }

        .booking-form .submit-btn:hover,
        .booking-form .submit-btn:focus {
            opacity: 0.9;
        }

.booking-cta {
    margin-top: 80px;
    margin-bottom: 30px;
}

    .booking-cta h1 {
        font-size: 52px;
        text-transform: uppercase;
        color: #0336FF;
        font-weight: 700;
    }

    .booking-cta p {
        font-size: 16px;
        color: #FF7F3F;
    }
/*--MAP--*/
#map {
    width: 100%;
    height: 100%;
    position: absolute;
}

/* css to customize Leaflet default styles  */
.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: #e74c3c;
    color: #ffffff;
    border: 1px solid black;
}

/*Barre navigation */
.backgroundNav {
    background-color: #e74c3c;
    color: #FF7F3F;
}

    .backgroundNav a {
        color: #ecf0f1;
        font-weight: 500;
    }

header {
    box-shadow: 0 4px 2px -2px gray;
}

.logo {
    width: 20%;
    height: 20%;
}


/*/legende */
.taille_image_legende {
    width: 90px;
    height: 90px;
}

/*footer*/



/*Caroussel*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #e74c3c;
}

.carousel-indicators [data-bs-target] {
    background-color: #e74c3c;
}
/*icone reponsive menu*/
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/*footer*/
footer {
    position: fixed;
    background-color: #bdc3c7;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

/*page login*/
.googleSubmit {
    background-image: url('../img/btn_google_signin_dark_normal_web.png');
    background-repeat: no-repeat;
    border: 0;
    display: block;
    height: 46px;
    width: 191px;
    color: transparent;
}
/*liste photo*/

.tailleCard {
    width: 20rem;
    margin: 1rem;
}

.tailleImage {
    width: 100%;
    height: 50%;
    margin: auto;
    padding-top: 1rem;
}
/*jumbo tron*/
.jumboImage {
    height: 600px;
}

.jumboImageS1 {
    background-image: url('../img/screen1.png');
  
}
.jumboImageS2 {
    background-image: url('../img/screen2.png');
}
.jumboImageS3 {
    background-image: url('../img/screen3.png');
}