@model ApplicationPhoto.Web.UI.Models.Photo

@{
    ViewData["Title"] = "Editer";

    var listItemsCategorie = this.ViewBag.ListeCategorie;
}

<h1>Editer</h1>

<h4>Photo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PhotoId" />
            <input type="hidden" asp-for="Name" />
            <input type="hidden" asp-for="Latitude" />
            <input type="hidden" asp-for="Longitude" />
            
            <input type="hidden" asp-for="ImageUrl" />
            <input type="hidden" asp-for="VoyageId" />

            <div class="form-group">
                <label asp-for="DatePicture" class="control-label"></label>
                <input asp-for="DatePicture" class="form-control" />
                <span asp-validation-for="DatePicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Categorie" class="control-label"></label>
                <select asp-for="CategorieId" asp-items="listItemsCategorie"></select>

            </div>
            <div class="form-group">
                <input type="submit" value="Sauvegarder" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@Model?.VoyageId">Retour à la liste des photos</a>
</div>

