@model IEnumerable<ApplicationPhoto.Web.UI.Models.Photo>

@{
    ViewData["Title"] = "Vos photos";
}

<h1>Liste photo</h1>

<p>
    <a asp-action="Create">Ajouter photo</a>
</p>
<div>
    <div class="row justify-content-center">

        @foreach (var item in Model)
          {

      
        <div class="card tailleCard">
                <img class="card-img-top tailleImage" src=@System.IO.Path.Combine("../..", @item.ImageUrl) alt=@item.Description>
            <div class="card-body">
                <h5 class="card-title">@item.DatePicture</h5>
                <p class="card-text">@item.Description</p>
                 <a asp-action="Details" asp-route-id="@item.PhotoId">Details</a>
            </div>
        </div>
        }
    </div>

</div>